/** GLOBAL STYLES **/

body {
	font-size: 16px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height + 20px */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.nav-footer {
	position: absolute;
	bottom: 70px;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 70px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}


/* Custom page CSS
-------------------------------------------------- */

body {
	background-color: #eee;
}

body > .container {
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.below-blockdiv {
	padding-top: 20px;
}

.two-col-list {
	columns: 2;
	-webkit-columns: 2;
    -moz-columns: 2;
	list-style-position: inside;
}

.citation:target {
	color: #000;
	background-color: #f9db72;
}

.btn-xlg {
	padding: 20px 32px;
	font-size: 36px;
	line-height: 1.3333333;
	border-radius: 6px;
}

/* Sign In page styles
------------------------------------------------ */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 20px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button[type="submit"] {
	margin-bottom: 10px;
}

/**** INDEX PAGE ****/
.book-cover img {
	height: 300px;
}

.book-cover {
	text-align: center;
}

/**** ABOUT PAGE ****/
.about-container h2 {
	margin-bottom: 20px;
}

.quotes-body blockquote {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
}

.about-button {
	margin-top: 20px;
}

/*** PROFILE PAGE ***/

.profile {
	margin-top: 10px;
	margin-bottom: 10px;
}

.profile img {
	padding-top: 40px;
}

.profile-info {
	padding: 20px;
}
.profile-info>div:first-of-type>h2 {
	display: inline;
}
.profile-info>div>h2 {
	display: inline-block;
}
.profile-info>div>a {
	padding-left: 10px;
}

.profile-buttons {
	width: 50%;
	min-width: 50%;
	margin: auto;
}

.profile-button {
	min-width: 250px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.change-profile-pic {
	display:block;
	width: 80%;
	margin: 20px auto;
	font-size: 20px;
}

.profile-panel {
	margin-bottom: 30px;
}

/*** SCORES PAGE ***/

#score-panel hr {
	border-bottom: 1px solid black;
}

.score-table th {
	font-weight: normal;
	vertical-align: middle !important;
}

.score-table h5 {
	font-weight: bold;
	padding: 0;
	font-size: 20px;
}

.score-gradient {
	background: #22c1c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 10%;
	height: 95%;
	margin: auto 10px auto auto;
}

.table-score {
	width: 25%;
	text-align: center;
	position: relative;
	margin: 10px;
}

.score-table tr:hover {
	cursor: pointer;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.score-panel-table td {
	font-size: 16px;
}

.overallScore {
	width: 50%;
	margin-top: 15px;
	margin-bottom: 35px;
}

.score-table-label {
	width: 75px;
	font-weight: bold;
}

.marker {
	border: 1px solid black;
	background-color: transparent;
	text-align: right;
	padding: 2px;
	color: black;
	position: absolute;
	top:0;
	left:0;
	width: 400px;
}

.bar-self {
	font: 14px sans-serif;
	background-color: black;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	position: relative;
}

.bar-other {
	font: 14px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
	position: relative;
}

.overallScore .marker,
.overallScore .bar-self,
.overallScore .bar-other {
	font-size: 20px;
}

/** SELF QUIZ PAGE **/
#quizContainer {
	padding: 10px;
	display: hidden;
}

#question {
	text-transform: none;
	font-size: 22px;
	line-height: 26px;
	font-weight: 600;
	margin-bottom: 25px;
	text-align: left;
}

#quizContainer button {
	margin-top: 20px;
}

#quizContainer input[type="radio"] {
	padding-left: 15px;
}
/** Resources Page **/
.resource-form .form-group {
	padding: 3px;
	margin: 2px;
}
.resource-form select {
	border: 1px solid black;
	border-radius: 1px;
}
#resources-message, #no-resources {
	margin-top: 20px;
	margin-bottom: 20px;
}
.resources-table>thead>tr>th:first-of-type,
.resources-table>tbody>tr>td:first-of-type
{
	width: 200px;
	max-width: 200px;
	min-width: 50px;
	
}
.resources-table .description {
	padding: 10px;
}
.referral > img {
	max-width: 100%;
	height: auto;
	display: block;
	.center-block();
}
.rating {
	width: 150px;
	min-width: 150px;
	text-align: center;
}
.rating-info {
	color: #FAB400;
	font-style: italic;
	font-size: 10px;
}

/* -----------------------------------------------------------------------------

  COMPENENTS - RATING
  
----------------------------------------------------------------------------- */
.c-rating {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
	width: 120px;
}

.c-rating__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background: url("../img/stars.svg");
  background-position: 0 0;
  cursor: pointer;
}

.c-rating__item:hover,
.c-rating__item.is-active {
  background-position: -24px 0;
}


/** Search results page **/
.search-table img {
	min-height: 75px;
	width: auto;
	height: 75px;
}
.search-table td {
	font-size: 26px;
	font-weight: bold;
}
.search-table>thead>tr>th:first-of-type,
.search-table>thead>tr>th:nth-of-type(4),
.search-table>tbody>tr>td:first-of-type,
.search-table>tbody>tr>td:nth-of-type(4) {
	width: 80px;
	min-width: 80px;
}
.search-table>thead>tr>th:nth-of-type(3),
.search-table>tbody>tr>td:nth-of-type(3) {
	width: 250px;
	min-width: 80px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
.search-table>thead>tr>th:nth-of-type(4),
.search-table>tbody>tr>td:nth-of-type(4) {
	text-align: center;
	padding-left: 30px;
	padding-right: 20px;
}
.pager .next>a,
.pager .next>span,
.pager .previous>a,
.pager .previous>span {
	float: none;
}
.search-panel>.panel-body {
	padding:0;
}
.results-score .bar-other,
.results-score .marker {
	font-size: 20px;
	height: 35px;
	line-height: 30px;
}