# HTID:1833992: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:1833992:

RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://earthmates.000webhostapp.com/$1 [R,L]

# disable directory browsing
Options All -Indexes

# prevent folder listing
IndexIgnore *
